asgiref==3.5.2
beautifulsoup4==4.11.1
cffi==1.15.1
colorama==0.4.5
cryptography==37.0.4
Django==3.2
django-bootstrap-v5==1.0.11
django-qr-code==3.1.1
numpy==1.23.2
Pillow==9.2.0
pycparser==2.21
pydantic==1.10.1
pytz==2022.2.1
qrcode==7.3.1
segno==1.5.2
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.3.0
